
nav{
    display: flex;
    position: relative;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
 
}


.menu{
    display: none;
    position: absolute;
    height: 2rem;
    width: 2.25rem;
    top: 0.75rem;
    right:0.15rem;
    flex-direction: column;
    justify-content: space-between;
}
.menu span{
    height: 0.4rem;
    width: 100%;
    background-color: #646cff;
    border-radius: 0.2rem;
}
ul{
    display: flex;
    gap: 3.2rem;
    text-decoration: none;
}
.footer{
    display: flex;
    justify-content: center;
    background-color:#646cff;
    width: 100%;
    padding: 2.2rem 2.2rem;
    color: #fff;
    margin-bottom: 0;
    margin-top: 1rem;
}
li:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}
.logo-brand img{
    animation: img infinite 7s linear;
}
@keyframes img {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (max-width: 560px) {
    .menu{
        display: flex;
       
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
     }
    .logo-brand{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2.5rem;

    } 
    ul.open{
        display: flex;
    }
    ul{
        display: none;
        flex-direction: column;
        margin-top: 2.5rem;
    }
    li{
        text-align: center;
    }
  }